[gerrit]
	basePath = git
	serverId = 93e22407-bf34-4b0c-94e3-0124357a8920
	canonicalWebUrl = http://10.250.115.114:8080/
[database]
	type = postgresql
	database = reviewdb
	hostname = 172.17.0.7
	port = 5432
	username = gerrit2
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[index]
	type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = LDAP
[receive]
	enableSignedPush = true
[sendemail]
	smtpServer = itelmobile-com01b.mail.protection.partner.outlook.cn
	enable = true
	smtpServerPort = 25
	smtpUser = iapd.ib@itel-mobile.com
	connectTimeout = 10sec
	from = iapd.ib@itel-mobile.com
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[ldap]
	server = ldap://ifaszdc01.transsion.com
	username = gerrit@transsion.com
	accountBase = DC=transsion,DC=com
	groupBase = DC=transsion,DC=com
        accountPattern = (&(objectClass=person)(sAMAccountName=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	accountSshUserName = sAMAccountName
	groupName = cn
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
	type = gitweb
